<!-- my body content here -->
<h2>Welcome to CSE Motors!</h2>
<h1><%- messages() %></h1>
<div class="img-containor">
    <img src="images/vehicles/delorean-tn.jpg" alt="Delorean car image"  id="small" loading="lazy" class="del-img">
    <img src="images/vehicles/delorean.jpg" alt="Delorean car image"  id="large" loading="lazy" class="del-img">

    <card class="card">
        <h3>DMC Delorean</h3>
        <h4><b>3 Cup holders<br>
        Superman door<br>
        Fuzzy Dice!</b></h4>
        <img src="images/site/own_today.png" alt="Own today banner" loading="lazy">
    </card>
</div>
<div class="containor">
    <div class="right-section">
        <h2>DMC Delorean Reviews</h2>

        <ul id="comments">
            <li>"Its like time travel. So cool!"(5/5)</li>
            <li>"It makes me feel like I should be in fast five."(4/5)</li>
            <li>"I don't love the speaker, but everything else is great."(3/5)</li>
            <li>"cool ride"(4/5)</li>
            <li>"My brother-in-law is so jealous."(5/5)</li>
        </ul>
    </div>
    <div class=" left-section">

        <h2>Delorean Upgrades</h2>

        <div class="upgrade_section">
            <card id="flux" class="up-card">
                <img class="card-img" src="images/upgrades/flux-cap.png" alt="upgrades flux capacitor" loading="lazy">
                <p>Flux Capacitor</p>
            </card>
            <card id="flames" class="up-card">
                <img class="card-img" src="images/upgrades/flame.jpg" alt="upgrades flames" loading="lazy">
                <p>Flame Decals</p>
            </card>
            <card id="bumper" class="up-card">
                <img class="card-img" src="images/upgrades/bumper_sticker.jpg" alt="upgrades bumper" loading="lazy">
                <p>Bumper Stickers</p>
            </card>
            <card id="hub" class="up-card">
                <img class="card-img" src="images/upgrades/hub-cap.jpg" alt="upgrades hub" loading="lazy">
                <p>Hub Caps</p>
            </card>
        </div>
    </div>
</div>